<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=__("Who is hero?")%></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="www/css/reset.css">
    <link rel="stylesheet" href="www/css/style.css">
    <link rel="icon" type="image/png" href="www/img/favicon.png">
    <script src="www/js/jquery-2.1.3.min.js"></script>
    <script type='text/javascript' src="www/js/jquery.smoothscroll.js"></script>
    <script src="www/js/functions.js"></script>
    </head>
    <body>
        <div class="wrap">
            <div class="frame f1" height="820">
                <nav class="lang">
                    <% if(lang!="ru") { %>
                    <li id="ru"><a href="./ru"> </a></li>
                    <% } %>
                    <% if(lang!="en") { %>
                    <li id="en"><a href="./en"> </a></li>
                    <% } %>
                </nav>
                <div class="layout f1l4"></div>
                <div class="layout start f1l3"></div>
                <div class="layout f1l2"></div>
                <div class="layout start f1l1"></div>
                <h1 class="layout header"><%=__("Who is hero?")%>
                <div class="layout header shadow"><%=__("Who is hero?")%>
                </div></h1>
                <!--Кто способен приложить достаточно усилий для достижения любой цели-->
            </div>
            <div class="frame f2" height="560">
                <div class="layout f2l2"></div>
                <div class="layout f2l1"></div>
                <div class="layout f2t"></div>
                <article class="layout text t2">
                    <h2><%=__("Everyone can be a hero")%></h2>
                    <p><%=__("If you human - you can be hero, of course. Think about your superpower - it’s your heart!")%></p>
                </article>
            </div>
            <div class="frame f3" height="560">
                <div class="layout f3l2"></div>
                <div class="layout f3l1"></div>
                <div class="layout f3t"></div>
                <article class="layout text t3">
                    <h2><%=__("Everyone can be a hero")%></h2>
                    <p><%=__("If you human - you can be hero, of course. Think about your superpower - it’s your heart!")%></p>
                </article>
            </div>
            <div class="frame f4" height="560">
                <div class="layout f4l4"></div>
                <div class="layout f4l3"></div>
                <div class="layout f4l2"></div>
                <div class="layout f4l1"></div>
                <div class="layout f4t"></div>
                <article class="layout text t4">
                    <h2><%=__("Everyone can be a hero")%></h2>
                    <p><%=__("If you human - you can be hero, of course. Think about your superpower - it’s your heart!")%></p>
                </article>
            </div>
            <div class="frame f5" height="560">
                <div class="layout f5l2"></div>
                <div class="layout f5l1"></div>
                <div class="layout f5t"></div>
                <article class="layout text t5">
                    <h2><%=__("Everyone can be a hero")%></h2>
                    <p><%=__("If you human - you can be hero, of course. Think about your superpower - it’s your heart!")%></p>
                </article>
            </div>
            <div class="frame f6" height="560">
                <div class="layout f6l3"></div>
                <div class="layout f6l2"></div>
                <div class="layout f6l1"></div>
                <div class="layout f6t"></div>
                <article class="layout text t6">
                    <h2><%=__("Everyone can be a hero")%></h2>
                    <p><%=__("If you human - you can be hero, of course. Think about your superpower - it’s your heart!")%></p>
                </article>
            </div>
            <div class="frame f7" height="1000">
                <div class="layout f7l1"></div>
                <div class="layout f7t"></div>
                <article class="layout text-final t8">
                    <h2><%=__("Everyone can be a hero")%></h2>
                    <p><%=__("If you human - you can be hero, of course. Think about your superpower - it’s your heart!")%></p>
                </article>
            </div>
            <div class="frame f8" height="700">
            </div>
        </div>
    </body>
</html>